:root {
  --primary: #bc4123;
  --secondary: #2b3452;
  --third: #000;

}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: var(--third); */
  /* color: var(--primary); */
}

/* navbar */
header nav {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

main {
  width: 100%;
  min-height: 500px;
  margin: 40px auto;
  border: #bc4123 2px solid;
}